# This .gitignore replaces the main one when GitHub Actions processes
# .github/workflows/cd-gh-pages.yml to deploy to the `gh-pages`
# branch. This one comments out the /fin/ exclusion.

# Added by external tools.
/node_modules/
/npm-debug.log

# Added by the build process.
#/fin/
